<section data-ng-controller="HomeController">
    <h1 class="text-center">Landing page - put info about SVMP here...</h1>
        <p>
            The Secure Virtual Mobile Platform provides a virtual smartphone tailored for running in the cloud.
            It helps solve many of the problems of secure containers and “bring your own device” by treating
            a user’s physical phone as a terminal for remotely accessing a virtual phone running safely in a
            datacenter. The virtual device can then be hardened to become a secure bastion for accessing
            enterprise apps and data.
        </p>
        <p>
            The core of the platform is an OS image based on the Android Open Source Project that we have optimized
            for running on top of virtualization and cloud platforms such as KVM and OpenStack. Also included are
            front-end client applications for Android and iOS that can log into the remote desktop of the virtual device.
            Thanks to WebRTC technology, we are even able to make this work seamlessly over 3G and 4G cellular links.
        </p>
</section>