<section class="row" data-ng-controller="AuthenticationController">
	<h2 class="col-md-12 text-center">Sign in</h2>
	<div class="col-md-offset-4 col-md-4 col-md-4">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                </div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-success">Sign in <i class="glyphicon glyphicon-play-circle"></i></button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>